{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"browsers": [
						"last 2 versions",
						"not ie <= 10"
					]
				},
				"debug": true,
				"modules": "commonjs"
			}
		]
	],
	"env": {
		"test": {
			"plugins": [
				"@babel/plugin-transform-modules-commonjs"
			]
		}
	},
	"plugins": [
		"@babel/plugin-proposal-class-properties"
	]
}
